@tailwind base;
@tailwind components;
@tailwind utilities;

/* #F2F4F6 - Light shades - text and background */
/* #D9767D - Light accent - attention */
/* #668A4A - Main Brand Color - main identity */
/* #034C3C - dark accent - attention */
/* #201129 - dark shades - text and background (170C1D?)*/

/* default */
:root {
  --text: #170c1d;
  --accent: #d9767d;
  --background: #f2f4f6;
  --alt-accent: #034c3c;
  --main: #668a4a;
}

/* dark mode */
:root.dark-mode {
  --text: #f2f4f6;
  --accent: #034c3c;
  --background: #170c1d;
  --alt-accent: #d9767d;
  --main: #668a4a;
}

body {
  color: var(--text);
  background: var(--background);

  position: relative;
  min-height: 100vh;

  display: block;
  text-align: center;
}

main {
  /*100% minus the header and footer*/
  height: calc(100vh - 9rem); /* dont love fixed height */
}

.hidden {
  display: none;
}

.center-image {
  display: flex;
  justify-content: center;
}

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼ NAVBAR CSS ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
nav {
  background: var(--background);
  font-size: clamp(1.05rem, 1.5vw, 1.25rem); /* fix this probably */
  display: flex;
  justify-content: center; /* Spreads items horizontally */
  align-items: center; /* Vertically center */
}

.nav-link-full {
  padding: 0 10px;
}

.nav-right-icons {
  position: absolute;
  font-size: 1.25rem;
  right: 0;
  top: 17px;
}

.nav-darkToggle-button {
  height: 30px;
}

.nav-hamburger {
  border-radius: 16px;
  padding: 0 28px;
  color: var(--text);
}

.nav-active-highlight {
  color: var(--accent);
}

.nav-active-tab-small {
  font-size: 1.25rem;
}

.nav-dropdown-content {
  position: absolute;
  top: 10%;
  left: 10%;
  font-size: clamp(2rem, 2.25vw, 2.5rem);
  text-align: left;
}

.nav-dropdown-content a {
  display: block;
  padding: 10px;
}

.nav-dropdown-content a:hover {
  color: var(--accent);
}

/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲ NAVBAR CSS ▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼ FOOTER CSS ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5rem;

  background-color: var(--accent);
  color: var(--background);

  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-logos {
  display: flex;
  justify-content: center;
}

.show-email-tooltip {
  width: 210px;
  background-color: var(--text);
  color: var(--background);
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 75%;
  left: 50%;
  margin-left: -35px;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲ FOOTER CSS ▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼ MAINPAGE CSS ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */

.home-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
  margin-right: 100px;
  min-width: 150px;
}

.pic-and-words-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center; /* keep vertically aligned */
  text-align: right;
  width: 100%;
}

.words-wrapper {
  font-size: clamp(1rem, 2.5vw, 3rem);
  width: 100%;
  margin-right: 5%;
  text-align: right;
}

.words-single-line {
  display: flex;
  justify-content: right;
}

.title-box-wrapper {
  background-color: var(--accent);
  display: flex;
  margin-left: 6px;
  padding: 0 3px;
  align-items: center;
}

@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
}

.title-box-wrapper::after {
  content: "";
  width: 2px;
  height: 90%;
  background: var(--alt-accent);
  display: inline-block;
  animation: cursor-blink 1.5s steps(2) infinite;
}

.profile-image {
  display: flex;
  width: 100%;
  justify-content: left;
  margin-left: 5%;
}

@media (max-width: 600px) {
  .pic-and-words-wrapper {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .profile-image {
    padding: 0px;
    margin: 0px;
  }
  .words-wrapper {
    padding: 0px;
    margin: 0px;
    text-align: center;
    align-items: center;
  }

  .words-single-line {
    justify-content: center;
  }
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲ MAINPAGE CSS ▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */
