@tailwind base;
@tailwind components;
@tailwind utilities;

/* #F2F4F6 - Light shades - text and background */
/* #D9767D - Light accent - attention */
/* #668A4A - Main Brand Color - main identity */
/* #034C3C - dark accent - attention */
/* #201129 - dark shades - text and background (170C1D?)*/

/* default */
:root {
  --text: #170c1d;
  --accent: #d9767d;
  --background: #f2f4f6;
  --alt-accent: #034c3c;
  --main: #668a4a;
}

/* dark mode */
:root.dark-mode {
  --text: #f2f4f6;
  --accent: #034c3c;
  --background: #170c1d;
  --alt-accent: #d9767d;
  --main: #668a4a;
}

body {
  color: var(--text);
  background: var(--background);
}

nav {
  background: var(--main);
  height: 56px;
  font-size: clamp(1rem, 1.25vw, 1.25rem); /* fix this probably */
  display: flex;
  justify-content: center; /* Spreads items horizontally */
  align-items: center; /* Vertically center */
}

.nav-link-full {
  padding: 0 10px;
}

.nav-right-icons {
  margin-left: auto; /* Push the icons to the right */
}

.nav-hamburger {
  border-radius: 16px;
  padding: 0 32.5px;
}

.nav-darkToggle {
  background-color: var(--accent);
  border-radius: 16px;
  width: 70px;
  height: 30px;
}

.nav-small {
  justify-content: right;
  padding-right: 25px;
}

.nav-dropdown-content {
  position: absolute;
  top: 10%;
  left: 10%; /* Align to the right side of the screen */
  background-color: var(--main); /* Set background color */
}

.nav-dropdown-content a {
  display: block;
  padding: 10px;
  text-align: left; /* Align text to the right */
  color: var(--text-color); /* Set text color */
  text-decoration: none; /* Remove underline */
}

.nav-dropdown-content a:hover {
  color: var(--accent);
}
